.form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
